{% set edicion = (producto is defined) ? true : false %}
{% set marcaSel = producto.marca.id ?? '' %}
{% set habilitacion = producto.habilitado ?? 0 %}

<div>
    <div class='columnas_3'>
        <label> </label>
        <div class="contCheckBox">
            <input type="checkbox" id="productos_habilitado" name="producto[habilitado]" value="1" {{ (habilitacion == "1") ? "checked" }}>
            <label for="productos_habilitado">Habilitado</label>
        </div>
    </div>
    <div>
        <label for="producto_nombre" class="required">Nombre</label>
        <input type="text" id="producto_nombre" name="producto[nombre]" required="required" value="{{producto.nombre ?? ''}}" placeholder="Nombre del producto" />
    </div>
    <div>
        <label for="producto_marca" class="required">
            Marca
            <img src="{{asset('images/iconos/nuevo.svg')}}" class='btnNuevoModal' alt="Nueva marca" title="Nueva marca" onclick="oGen.fnCargaModal('{{path('marcas_modal')}}')" />
        </label>
        <select id="producto_marca" name="producto[marca]" required="required">
            <option value="0">--- Sin marca ---</option>
            {% for marca in marcas %}
                <option {{ (marcaSel == marca.id) ? 'selected' }} value="{{marca.id}}" >{{marca.marca}}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="producto_precio" class="required">Precio</label>
        <input type="number" step=".01" id="producto_precio" name="producto[precio]" value="{{producto.precio ?? ''}}" placeholder='$'/>
    </div>
    <div class='columnas_2'>
        <label for="producto_descripcion">Descripción</label>
        <textarea id="producto_descripcion" name="producto[descripcion]">{{producto.descripcion ?? ''}}</textarea>
    </div>
    <div>
        <label for="producto_id_externo" class="required">ID Externo</label>
        <input type="number" step="1" id="producto_id_externo" name="producto[id_externo]" value="{{producto.idExterno ?? ''}}" placeholder='ID del sistema de ventas'/>
    </div>
    <div>
        <label for="productos_caracteristicas">
            Características 
            <img src="{{asset('images/iconos/nuevo.svg')}}" alt="" onclick="agregarCaracterísticas();" style='cursor:pointer;'/>
        </label>
        <table>
            <thead>
                <tr>
                    <th>Característica</th>
                    <th>Valor</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id='tablaCaracteristicas'>
                <tr>
                    <td><input type='text' name='caracteristicasClave[]' placeholder='Característica' /></td>
                    <td><input type='text' name='caracteristicasValor[]' placeholder='Valor de la característica' /></td>
                    <td><img src="{{asset('images/iconos/borrar_rojo.svg')}}" title="Eliminar característica" onclick="eliminarCaracteristica(this);" /></td>
                </tr>
                {% for c in caracteristicas %}
                    <tr>
                        <td><input type='text' name='caracteristicasClave[]' placeholder='Característica' value='{{c.clave}}' /></td>
                        <td><input type='text' name='caracteristicasValor[]' placeholder='Valor de la característica' value='{{c.valor}}' /></td>
                        <td><img src="{{asset('images/iconos/borrar_rojo.svg')}}" title="Eliminar característica" onclick="eliminarCaracteristica(this);" /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div></div>
    <div>
        <label for="productos_categoria">Categorías <img src="{{asset('images/iconos/editar_off.png')}}" alt="" onclick="mostrarCategorias();" style='cursor:pointer;'/></label>
        <div class="contenedorCategorias categoriasFormularios" id="contCat_0">
            <img src="{{asset('images/iconos/cancelar.svg')}}" alt="" onclick="ocultarCategorias();" class='iconoEliminar' />
        </div>
        <div id="categoriasAgregadas">
            {% for ca in categoriasAsignadas.ca %}
                <input type="hidden" name="categoriasProducto[]" id="inputCatAgregada_{{ca.id}}" value="{{ca.id}}">
                <label id="labelCatAgregada_{{ca.id}}" onclick="eliminarCategoria({{ca.id}});">
                    <img src="/images/iconos/borrar_rojo.svg"> {{ca.categoria}}
                </label>
            {% endfor %}
        </div>
    </div>



</div>

<input type="hidden" id="cajs" value="{{categoriasAsignadas.cajs}}">
<input type="hidden" name="_token" value="{{ (edicion) ? csrf_token('editar_producto_'~producto.id) : csrf_token('nuevo_producto') }}">

<div class="botonesFormularios">
    <a href="{{ path('productos_index') }}" class='btn btnCancelar'>Cancelar</a>
    <button class="btn btnGuardar" name='guardar' value='1'>Guardar</button>
    <br/><br/>
    <button class="btn btnGuardar" name='guardar' value='2'>Guardar y cargar imágenes</button>
</div>

<script>
    // CATEGORIAS

    function getCategorias(){
        fetch("{{ path('categorias_listado') }}", {
            method: 'post',
            mode: 'cors',
            credentials: 'same-origin'
        }).then(function(response){
            return response.json();
        }).then(function(ccc){
            ccc.forEach(armarArbolCategorias);
        }).catch(function(error){
            console.error('ERROR:', error);
        });
    }

    function armarArbolCategorias(item, index){
        if(item.id == 0){
            return false;
        }

        let divCont = document.createElement('div');
        divCont.classList.add('contenedorCategorias');
        divCont.setAttribute("id", "contCat_"+item.id);

        let divCat = document.createElement('div');

        let label = document.createElement('label');
            label.setAttribute("for", "chkCat_"+item.id);
            label.setAttribute("id", "labelCat_"+item.id);
            label.innerHTML = item.nombre;
        
        let agregar = document.createElement('input');
        agregar.setAttribute("type", "checkbox");
        agregar.setAttribute("title", "Agregar sub categoría");
        agregar.setAttribute("data-id", item.id);
        agregar.setAttribute("id", "chkCat_"+item.id);
        agregar.onchange = function () {
            agregarCategoria(this);
        };

        let categoriasInicial = document.getElementById('cajs').value.split(',');
        if(categoriasInicial.indexOf(String(item.id)) != -1)
            agregar.checked = true;
        
        divCat.prepend(label);
        divCat.prepend(agregar);

        divCont.prepend(divCat);
        
        document.getElementById("contCat_"+item.padre).appendChild(divCont);
    }

    function agregarCategoria(self){
        let id = self.dataset.id;

        // ELIMINO LA CATEGORIA AGREGADA PARA EVITAR REPETICIONES
        eliminarCategoria(id, 1);

        // SI ESTA CHECKEADO LA AGREGO
        if(self.checked){
            let eliminar = document.createElement('img');
                eliminar.setAttribute("src", "{{asset('images/iconos/borrar_rojo.svg')}}");
                eliminar.onclick = function(){
                    eliminarCategoria(id);
                }

            let label = document.createElement('label');
                label.setAttribute("id", "labelCatAgregada_"+id);
                label.innerHTML = document.getElementById('labelCat_'+id).innerHTML;

            let input = document.createElement('input');
                input.setAttribute("type", "hidden");
                input.setAttribute("name", "categoriasProducto[]");
                input.setAttribute("id", "inputCatAgregada_"+id);
                input.value = id;

            document.getElementById('categoriasAgregadas').append(input);
            label.prepend(eliminar);
            document.getElementById('categoriasAgregadas').append(label);
        }
    }

    function mostrarCategorias(){
        document.getElementById('contCat_0').style.display = 'block';
    }

    function ocultarCategorias(){
        document.getElementById('contCat_0').style.display = 'none';
    }

    function eliminarCategoria(id, cancelaCheck = 0){
        if(document.getElementById('labelCatAgregada_'+id) !== null)
            document.getElementById('labelCatAgregada_'+id).remove();
        
        if(document.getElementById('inputCatAgregada_'+id) !== null)
            document.getElementById('inputCatAgregada_'+id).remove();

        if(document.getElementById('chkCat_'+id) !== null && cancelaCheck == 0)
            document.getElementById('chkCat_'+id).checked = false;
    }
    
    getCategorias();

    // CARACTERISTICAS

    function agregarCaracterísticas(){
        let tabla = document.getElementById('tablaCaracteristicas');
        let tr = document.createElement('tr');
        let td1 = document.createElement('td');
        let td2 = document.createElement('td');
        let td3 = document.createElement('td');
        let clave = document.createElement('input');
        let valor = document.createElement('input');
        let eliminar = document.createElement('img');
        clave.setAttribute("type", "text");
        clave.setAttribute("name", "caracteristicasClave[]");
        clave.setAttribute("placeholder", "Característica");
        valor.setAttribute("type", "text");
        valor.setAttribute("name", "caracteristicasValor[]");
        valor.setAttribute("placeholder", "Valor de la característica");
        eliminar.setAttribute("src", "{{asset('images/iconos/borrar_rojo.svg')}}");
        eliminar.setAttribute("title", "Eliminar característica");
        eliminar.onclick = function () {
            eliminarCaracteristica(this);
        };

        td1.append(clave);
        td2.append(valor);
        td3.append(eliminar);
        tr.append(td1);
        tr.append(td2);
        tr.append(td3);
        tabla.prepend(tr);
    }

    function eliminarCaracteristica(item){
        item.parentElement.parentElement.remove();
    }

</script>