<div class='listadoBanners'>
    {% for i in imagenes %}
        <form class='linea_banner' action='{{ path('productos_imagenes_editar', {'id': i.id}) }}' method='post'>
            <input type='hidden' value='{{i.id}}' class='idBanner' />
            <div class='cont_orden'>
                <input type='number' step='1' name='orden' placeholder='Orden' value='{{i.orden}}' />
            </div>
            <div class='cont_imagen'>
                <img src="{{ asset('images/productos/' ~ producto.id ~ '/' ~ i.imagen)}}" alt="" />
            </div>
            <div class='cont_acciones'>
                {{ (i.habilitado == 1) ? "<span class='verde'>Imagen habilitada</span><br/>" : "<span class='rojo'>Imagen deshabilitada</span><br/>"}}
                <button>
                    <img src="{{ asset('images/iconos/guardar_celeste.svg')}}" alt="Guardar" title='Guardar' />
                </button>
                {% if i.habilitado == 1 %}
                    <a href="{{ path('productos_imagenes_deshabilitar', {'id': i.id}) }}">
                        <img src="{{ asset('images/iconos/deshabilitar.svg')}}" alt="Deshabilitar" title='Deshabilitar' />
                    </a>
                {% else %}
                    <a href="{{ path('productos_imagenes_habilitar', {'id': i.id}) }}">
                        <img src="{{ asset('images/iconos/tilde_verde.svg')}}" alt="Habilitar" title='Habilitar' />
                    </a>
                {% endif %}
                <img 
                    src="{{ asset('images/iconos/borrar_rojo.svg')}}" 
                    class='eliminarImagenProducto'
                    data-path="{{ path('productos_imagenes_eliminar', {'id': i.id}) }}" 
                    alt="Eliminar" 
                    title='Eliminar' 
                />
            </div>
        </form>
    {% else %}
        No se encontraron imágenes cargadas para este producto.
    {% endfor %}
</div>