{% extends 'base.html.twig' %}

{% block title %}Productos - {% endblock %}

{% block rutas %}
    Productos - <span>Editar</span>
    <a href="{{ path('productos_index') }}" class='btnVolver' title="Volver al listado">
        <img src="{{asset('images/iconos/volver.png')}}" alt="" />
    </a>
{% endblock %}

{% block pestanias %}
    <a href="{{ path('productos_edit', {'id': producto.id}) }}" class="actual">Detalles de producto</a>
    <a href="{{ path('productos_imagenes', {'id': producto.id}) }}">Imágenes</a>
{% endblock %}

{% block contenido %}
    <h1>Editar producto</h1>
    
    <form method="post" action="{{ path('productos_edit', {'id': producto.id}) }}">
        {{ include('productos/_form.html.twig') }}
    </form>
{% endblock %}