<div class='listadoBanners'>
    {% for b in banners %}
        <form class='linea_banner' action='{{ path('banners_editar', {'id': b.id}) }}' method='post'>
            <input type='hidden' value='{{b.id}}' class='idBanner' />
            <div class='cont_orden'>
                <input type='number' step='1' name='orden' placeholder='Orden' value='{{b.orden}}' />
            </div>
            <div class='cont_imagen'>
                <img src="{{ asset('images/banners/' ~ b.imagen)}}" alt="" />
            </div>
            <div class='cont_url'>
                <input type='text' name='url' placeholder='URL' value='{{b.url}}' />
            </div>
            <div class='cont_acciones'>
                {{ (b.habilitado == 1) ? "<span class='verde'>Banner habilitado</span><br/>" : "<span class='rojo'>Banner deshabilitado</span><br/>"}}
                <button>
                    <img src="{{ asset('images/iconos/guardar_celeste.svg')}}" alt="Guardar" title='Guardar' />
                </button>
                {% if b.habilitado == 1 %}
                    <a href="{{ path('banners_deshabilitar', {'id': b.id}) }}">
                        <img src="{{ asset('images/iconos/deshabilitar.svg')}}" alt="Deshabilitar" title='Deshabilitar' />
                    </a>
                {% else %}
                    <a href="{{ path('banners_habilitar', {'id': b.id}) }}">
                        <img src="{{ asset('images/iconos/tilde_verde.svg')}}" alt="Habilitar" title='Habilitar' />
                    </a>
                {% endif %}
                <img 
                    src="{{ asset('images/iconos/borrar_rojo.svg')}}" 
                    class='eliminarBanner'
                    data-path="{{ path('banners_eliminar', {'id': b.id}) }}" 
                    alt="Eliminar" 
                    title='Eliminar' 
                />
            </div>
        </form>
    {% else %}
        No se encontraron banners cargados.
    {% endfor %}
</div>